body {
    background: black;
    font-size: 1em;
    color: white;
}

header {
    display: flex;
    flex-direction: row;
    height: 20px;
}

main {
    height: calc(100% - 20px);
    border: 1px solid magenta;
}