body {
    background: black;
    font-size: 1em;
    color: white;
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
    height: 20px;
}

main {
    display: block;
    /*height: 100%;
    width: 100%;*/
    border: 1px solid magenta;
}