@import url('/static/css/fonts.css');
body {
    background: black;
    font-size: 16px;
    font-family: monospace;
    color: white;
    height: 100%;
    margin: 0;
    padding: 0;
    --font: "IBM Mono";
}

.terminal,
.cmd,
.terminal .terminal-output div div,
.cmd .prompt {
    font-size: 16px;
    line-height: 20px;
}
